body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#id-login {
	margin: 0 16px 0 16px;
	cursor: pointer;
}

li.quizz-element {
	cursor: pointer;
}

.quiz-question .quiz-qstn-nb,
.quiz-status-bar > span {
	font-weight: bold;
}

.quiz-question .quiz-qstn-nb {
	margin-left: 0;
	margin-right: 0;
}

.quiz-question > div.row {
	margin-top: 14.5px;
	margin-bottom: 0;
}

.quiz-question .quiz-qstn-sentence {
	font-size: 18px;
}

.quiz-status-bar > span {
	margin-left: 10px;
}
.quiz-status-bar > span:first-child {
	margin-left: 0;
}

span.prop {
	color: black;
	font-size: 14px;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
	border: 2px solid #00bcd4;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
	background-color: #00bcd4;
}

.question-drop-down-btn {
	cursor: pointer;
}

ul.propositions-block-collapsed {
	height: 0px;
	border: none;
	transition: height .3s;
}

ul.propositions-block-expanded {
	height: auto;
	/*border: 1px solid #e0e0e0;
	border-radius: 2px;*/
	border: none;
}
ul.collection.propositions-block-expanded li {
	border: none;
}

.collection-item.question-proposition p {
	margin-top: 0;
	margin-bottom: 0;
}

.collection-item.quiz-question,
.collection-item.quiz-status-bar {
	border-radius: 3px;
	margin-bottom: 10px;
}
.collection-item.quiz-question:last-child {
	margin-bottom: 0;
}

#id-all-quizzes-main > ul.collection {
	border: none;
}

.success {
	color: #8bc34a;
	font-weight: bold;
	background-color: #eeeeee;
}

.error {
	color: #c62828;
	font-weight: bold;
	background-color: #eeeeee;
}

.myQuizzes-tool-bar {
	background-color: #80deea;
	height: 45px;
	line-height: 45px;
	margin: 10px 0;
	padding: 0 20px;
	font-weight: bold;
}

.myQuizzes-tool-bar .nav-wrapper i {
	height: 45px;
	line-height: 45px;
}

.myQuizzes-tool-bar .status-message {
	padding-left: 10px;
	padding-right: 10px;
}

#login-submit {
	color: cyan;
	cursor: pointer;
}

.row.myquizzes-menu-btns {
	margin-top: 15px;
}

.row.myquizzes-menu-btns a {
	height: 100%;
	width: 100%;
	font-weight: bold;
}

#id-my-current-quiz > .collection {
	border: none;
}

.myQuiz-add-prop-btn,
.myQuiz-remove-prop-btn,
.myQuiz-edit-prop-btn {
	cursor: pointer;
}

.myQuiz-add-prop-btn {
	color: #0097a7;
}

.myQuiz-remove-prop-btn {
	color: #d32f2f;
}

.myQuiz-edit-prop-btn {
	color: #ffa000;
}

.add-qstn-modal-add-prop-btn {
	color: #0097a7;
	cursor: pointer;
}

.add-qstn-modal-input-prop-block {
	margin-bottom: 0;
	justify-content: space-between;
}